@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-bold-webfont.eot');
  src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-bold-webfont.woff') format('woff'), url('../font/opensans-bold-webfont.ttf') format('truetype'), url('../font/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-italic-webfont.eot');
  src: url('../font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-italic-webfont.woff') format('woff'), url('../font/opensans-italic-webfont.ttf') format('truetype'), url('../font/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-light-webfont.eot');
  src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-light-webfont.woff') format('woff'), url('../font/opensans-light-webfont.ttf') format('truetype'), url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-regular-webfont.eot');
  src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-regular-webfont.woff') format('woff'), url('../font/opensans-regular-webfont.ttf') format('truetype'), url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-extrabolditalic-webfont.eot');
  src: url('../font/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-extrabolditalic-webfont.woff') format('woff'), url('../font/opensans-extrabolditalic-webfont.ttf') format('truetype'), url('../font/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-lightitalic-webfont.eot');
  src: url('../font/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-lightitalic-webfont.woff') format('woff'), url('../font/opensans-lightitalic-webfont.ttf') format('truetype'), url('../font/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-semibold-webfont.eot');
  src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-semibold-webfont.woff') format('woff'), url('../font/opensans-semibold-webfont.ttf') format('truetype'), url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-semibolditalic-webfont.eot');
  src: url('../font/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-semibolditalic-webfont.woff') format('woff'), url('../font/opensans-semibolditalic-webfont.ttf') format('truetype'), url('../font/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-bolditalic-webfont.eot');
  src: url('../font/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-bolditalic-webfont.woff') format('woff'), url('../font/opensans-bolditalic-webfont.ttf') format('truetype'), url('../font/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-extrabold-webfont.eot');
  src: url('../font/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-extrabold-webfont.woff') format('woff'), url('../font/opensans-extrabold-webfont.ttf') format('truetype'), url('../font/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 800;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #0054a4;
  min-width: 980px; }

.container {
  width: 980px;
  margin: 0 auto;
  display: table; }

.to-left {
  float: left; }

.to-right {
  float: right; }

.text-right {
  text-align: right; }

a:active, a:focus, div:active, div:focus, button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus {
  outline: none; }

.row {
  font-size: 0;
  box-sizing: border-box; }

.row > div:first-child {
  margin-left: -15px; }

.row > div:last-child {
  margin-right: -15px; }

[class^="col-"] {
  padding: 0 15px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top; }
  [class^="col-"].no-space {
    padding: 0; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.header {
  background-color: #e15f25; }

.main-nav {
  padding: 5px 0; }

.top-menu {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }
  .top-menu__item {
    display: inline-block;
    margin: 0 2px;
    position: relative; }
    .top-menu__item:first-child {
      margin-left: -12px; }
    .top-menu__item:last-child {
      margin-right: -15px; }
    .top-menu__item > a {
      font-size: 13px;
      color: #fff;
      padding: 15px 11.5px;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition: all .3s;
              transition: all .3s; }
      .top-menu__item > a.active {
        background-color: #0054a4; }
      .top-menu__item > a:hover {
        background-color: #0054a4; }

.sub-menu {
  display: none;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  list-style: none;
  background-color: #0054a4;
  padding: 18px;
  box-sizing: border-box;
  width: 165px;
  z-index: 100; }
  .sub-menu__item {
    padding: 10px 0;
    border-bottom: 1px dotted #6698c8;
    position: relative; }
    .sub-menu__item:first-child {
      padding-top: 5px; }
    .sub-menu__item:last-child {
      padding-bottom: 5px;
      border: none; }
    .sub-menu__item > a {
      text-decoration: none;
      display: block;
      font-size: 13px;
      color: #fff;
      -webkit-transition: all .3s;
              transition: all .3s; }

.sub-sub-menu {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #0054a4;
  margin: 0;
  padding: 0;
  top: 0;
  width: 165px;
  padding: 18px;
  box-sizing: border-box;
  left: 145px; }
  .sub-sub-menu__item {
    padding: 10px 0;
    border-bottom: 1px dotted #6698c8;
    position: relative; }
    .sub-sub-menu__item:first-child {
      padding-top: 5px; }
    .sub-sub-menu__item:last-child {
      padding-bottom: 5px;
      border: none; }
    .sub-sub-menu__item > a {
      text-decoration: none;
      display: block;
      font-size: 13px;
      color: #fff;
      -webkit-transition: all .3s;
              transition: all .3s; }

.promo {
  background-color: #cce4fa;
  padding-top: 20px; }

.promo-block {
  width: 100%;
  position: relative;
  height: 252px; }
  .promo-block .promo-text {
    position: absolute;
    font-size: 70px;
    color: #000;
    font-weight: bold;
    top: 25px;
    left: 25px;
    margin: 0; }
    .promo-block .promo-text > span {
      text-transform: uppercase; }
  .promo-block .promo-image {
    max-width: 100%;
    height: 100%; }

.page-content-wrapper {
  background-color: #cce4fa; }

.page-content {
  background-color: #cce4fa;
  padding: 10px 0;
  width: 100%;
  font-size: 0;
  display: table; }
  .page-content__side {
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    padding-right: 15px;
    vertical-align: top; }
    .page-content__side:first-child {
      padding-left: 0;
      padding-right: 15px; }
    .page-content__side:last-child {
      padding-right: 0;
      padding-left: 15px; }
  .page-content__main {
    box-sizing: border-box;
    display: inline-block;
    width: 75%;
    padding-left: 15px;
    vertical-align: top;
    margin-bottom: 30px; }
    .page-content__main:first-child {
      padding-left: 0;
      padding-right: 15px; }
    .page-content__main:last-child {
      padding-right: 0;
      padding-left: 15px; }

.page-index .page-content__main {
  margin-top: 18px;
  margin-bottom: 0; }

.side-menu {
  margin: 25px 0;
  margin-left: -8px;
  padding: 0;
  list-style: none; }
  .side-menu__item {
    margin: 1px 0; }
    .side-menu__item > a {
      display: inline-block;
      font-size: 15px;
      color: #000;
      padding: 9px 8px;
      border-radius: 3px;
      text-decoration: none;
      -webkit-transition: all .3s;
              transition: all .3s;
      font-weight: 300; }
      .side-menu__item > a:hover {
        background-color: #e15f25;
        color: #fff; }

.breadcrumbs-list {
  margin: 10px 0;
  padding: 0; }
  .breadcrumbs-list__separator {
    font-size: 15px;
    color: #000;
    margin: 0 5px;
    display: inline-block; }
  .breadcrumbs-list__item {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #000;
    padding-left: 5px; }
    .breadcrumbs-list__item:hover {
      text-decoration: none; }
    .breadcrumbs-list__item:first-child {
      padding-left: 0; }
    .breadcrumbs-list__item:last-child {
      margin-right: 0;
      text-decoration: none; }

.h1 {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin: 20px 0;
  line-height: 20px; }

.h2 {
  font-size: 23px;
  color: #000;
  margin: 20px 0;
  font-weight: normal; }

.h3 {
  font-size: 20px;
  color: #000;
  margin: 20px 0;
  font-weight: normal; }

.h4 {
  font-size: 18px;
  color: #000;
  margin: 20px 0;
  font-weight: normal; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.info {
  width: 100%; }
  .info-text {
    font-size: 15px;
    color: #000;
    font-weight: 300;
    line-height: 22px;
    margin: 20px 0; }
    .info-text:first-of-type {
      margin-top: 0; }
    .info-text > a {
      text-decoration: underline;
      -webkit-transition: all .3s;
              transition: all .3s; }
      .info-text > a:hover {
        text-decoration: none; }
  .info-img {
    max-width: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 8px; }

.data-input {
  font-size: 16px;
  color: #000;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  background-color: #fff;
  border: none;
  outline: none;
  margin: 25px 0;
  display: block;
  padding: 11px 7px;
  box-sizing: border-box; }
  .data-input:first-child {
    margin-top: 0; }
  .data-input:last-child {
    margin-bottom: 0; }
  .data-input.error {
    border: 1px solid #DB4343;
    box-shadow: inset 0 0 3px #DB4343; }

::-webkit-input-placeholder {
  color: #000;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

/* Firefox 19+ */
::-moz-placeholder {
  color: #000;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

/* Firefox 18- */
:-moz-placeholder {
  color: #000;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

:-ms-input-placeholder {
  color: #000;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

label {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0;
  position: relative;
  vertical-align: middle;
  max-width: 93%; }
  label:first-of-type {
    margin-top: 0; }
  label:last-of-type {
    margin-bottom: 0; }
  label:hover {
    cursor: pointer; }

.jq-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border: 2px solid #0054a4;
  vertical-align: top;
  top: 4px;
  margin: auto; }
  .jq-checkbox.checked {
    background-image: url('../img/check.png');
    background-repeat: no-repeat;
    background-position: center center;
    color: #000; }

.jq-radio {
  display: block;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border: 2px solid #0054a4;
  border-radius: 50%;
  vertical-align: top;
  top: 4px;
  position: relative; }
  .jq-radio:after {
    content: '';
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0054a4;
    top: 1px;
    left: 1px; }
  .jq-radio.checked:after {
    display: block; }

.input-wrapper {
  margin: 10px 0; }

.btn {
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 11px 15px;
  display: inline-block;
  -webkit-transition: all .3s;
          transition: all .3s; }
  .btn--blue {
    background-color: #0054a4; }
    .btn--blue:hover {
      cursor: pointer;
      background-color: #2771b8; }
  .btn--orange {
    background-color: #e15f25; }
    .btn--orange:hover {
      cursor: pointer; }

.forum-btn {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 0;
  display: block;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  margin: 10px 0 20px 0; }

.table2 {
  border: 0;
  outline: 0;
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0; }
  .table2 > thead {
    background-color: #e15f25;
    color: #fff;
    font-size: 16px;
    font-weight: 300; }
  .table2 > tbody {
    color: #000;
    font-weight: 300;
    font-size: 16px; }
    .table2 > tbody > tr:nth-child(2n) {
      background-color: #e6f2fd; }
  .table2 tr > td {
    padding: 9px;
    padding-left: 40px; }

.table1, .table0 {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #000; }
  .table1 td, .table0 td {
    padding: 9px;
    padding-left: 40px; }

.table1 {
  border: 1px solid #000;
  border-collapse: collapse; }
  .table1 td {
    border: 1px solid #000; }

.sup-footer {
  background-color: #0054a4; }

.footer-menu {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }
  .footer-menu__item {
    display: inline-block;
    margin: 15px 21px; }
    .footer-menu__item > a {
      font-size: 18px;
      color: #fff;
      text-decoration: underline;
      font-weight: 300;
      -webkit-transition: all .3s;
              transition: all .3s; }
      .footer-menu__item > a:hover {
        text-decoration: none; }
    .footer-menu__item:first-child {
      margin-left: 0; }
      .footer-menu__item:first-child > a {
        font-weight: bold;
        text-decoration: none; }

.footer {
  background-color: #e15f25; }

.footer-inner {
  width: 100%; }

.stat {
  opacity: .8;
  margin-top: 33px;
  max-width: 30%; }

.contacts {
  color: #fff;
  margin: 23px 0;
  max-width: 30%; }
  .contacts .sup-phone-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    display: block; }
  .contacts .phone-number {
    font-size: 34px;
    line-height: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: block; }

.popup {
  width: 400px;
  text-align: center;
  background-color: #cce4fa;
  border: 4px solid #0054a4;
  display: none;
  position: relative; }
  .popup-text {
    font-size: 20px;
    display: inline-block;
    padding: 40px 0;
    color: #000;
    font-weight: 300; }
  .popup-close {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #0054a4;
    top: -12px;
    right: -12px; }
    .popup-close:hover {
      cursor: pointer; }
    .popup-close > span {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      color: #cce4fa; }

.top-content {
  width: 100%;
  font-size: 0; }
  .top-content__head-block {
    width: 100%;
    padding: 7.5px 10px;
    background-color: #e15f25;
    box-sizing: border-box;
    margin: 20px 0; }
    .top-content__head-block > span {
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      font-weight: 300;
      padding-left: 7px; }
      .top-content__head-block > span:first-child {
        padding-left: 0; }
      .top-content__head-block > span.date {
        font-weight: bold; }
  .top-content-inner {
    margin: 20px 0;
    border-bottom: 1px dotted #000;
    display: table; }
  .top-content__item {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    vertical-align: top; }
    .top-content__item-inner {
      background-color: #fff;
      width: 100%; }
    .top-content__item .img-wrapper {
      overflow: hidden;
      position: relative;
      display: inline-block;
      vertical-align: top;
      max-width: 137px; }
    .top-content__item .text-wrapper {
      max-width: 207px;
      display: inline-block; }
    .top-content__item .name-text {
      box-sizing: border-box;
      margin: 10px 14px;
      font-size: 16px;
      color: #e15f25;
      display: block; }
    .top-content__item .text {
      font-size: 13px;
      line-height: 18px;
      color: #000;
      font-weight: 300;
      margin: 10px 14px;
      display: block; }
    .top-content__item:nth-child(1), .top-content__item:nth-child(2) {
      margin-top: 0; }
    .top-content__item:nth-of-type(2n+1) {
      padding-left: 0; }
    .top-content__item:nth-of-type(2n) {
      padding-right: 0; }

.future-content {
  width: 100%;
  margin: 20px 0 10px;
  font-size: 0;
  display: table; }
  .future-content__item {
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 0 20px 0;
    vertical-align: top; }
    .future-content__item:nth-child(3n) {
      padding-right: 0;
      padding-left: 20px; }
    .future-content__item:nth-child(3n+1) {
      padding-left: 0;
      padding-right: 20px; }
    .future-content__item-date {
      box-sizing: border-box;
      width: 100%;
      border-left: 12px solid #e15f25;
      background-color: #0054a4;
      padding: 5px 15px;
      margin-bottom: 20px; }
      .future-content__item-date > span {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        font-weight: 300; }
    .future-content__item-inner {
      margin-top: 20px;
      width: 100%;
      vertical-align: top; }
    .future-content__item-person {
      width: 100%;
      background-color: #fff;
      margin: 13px 0;
      overflow: hidden; }
      .future-content__item-person:first-child {
        margin-top: 0; }
      .future-content__item-person:last-child {
        margin-bottom: 0; }
      .future-content__item-person > .img-wrapper {
        vertical-align: top;
        display: inline-block;
        max-width: 70px;
        max-height: 70px;
        overflow: hidden;
        position: relative; }
        .future-content__item-person > .img-wrapper > img {
          width: 100%;
          height: 100%; }
      .future-content__item-person > .person-name {
        margin: 0;
        padding: 13px;
        overflow: hidden;
        vertical-align: top;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #000;
        display: inline-block;
        box-sizing: border-box;
        max-width: 145px;
        text-overflow: clip; }

.informer {
  width: 100%;
  margin: 10px 0; }
  .informer > img {
    width: 100%; }
  .informer:first-child {
    margin-top: 24px; }

.side-list-wrapper {
  background-color: #fff;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 3px 0;
  width: 100%; }

.side-list-header {
  display: block;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #000; }

.side-list {
  display: block;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 7px 0;
  padding: 0;
  padding-left: 17px; }
  .side-list__item {
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    position: relative; }
    .side-list__item:before {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #0054a4;
      top: 10px;
      margin: auto;
      left: 0; }
    .side-list__item > a {
      text-decoration: underline;
      font-size: 13px;
      line-height: 24px;
      color: #0054a4; }

.news {
  width: 100%;
  background-color: #cce4fa; }
  .news-head > .all-link {
    margin-left: 10px;
    text-decoration: underline;
    font-size: 17px;
    line-height: 20px;
    color: #0054a4;
    font-weight: 300; }

.news-content {
  margin: 4px 0 12px;
  width: 100%;
  display: table;
  font-size: 0; }
  .news-content__item {
    vertical-align: top;
    width: 33.33%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 20px 0; }
    .news-content__item:first-child {
      padding-left: 0; }
    .news-content__item:last-child {
      padding-right: 0; }
    .news-content__item:nth-child(3n) {
      padding-right: 0;
      padding-left: 20px; }
    .news-content__item:nth-child(3n+1) {
      padding-left: 0;
      padding-right: 20px; }
    .news-content__item .news-date {
      font-size: 13px;
      line-height: 20px;
      color: #999;
      font-weight: 300;
      display: block;
      margin: 13px 0; }
    .news-content__item .news-link {
      font-size: 15px;
      line-height: 22px;
      color: #0054a4;
      text-decoration: underline;
      font-weight: 300;
      display: block; }
      .news-content__item .news-link:hover {
        cursor: pointer; }
