.sup-footer {
    background-color: $blue;
}

.footer-menu {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;

    &__item {
        display: inline-block;
        margin: 15px 21px;

        & > a {
            font-size: 18px;
            color: $white;
            text-decoration: underline;
            font-weight: 300;
            transition: all .3s;

            &:hover {
                text-decoration: none;
            }
        }

        &:first-child {
            margin-left: 0;

            & > a {
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}